* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.red {
  background-color: lightcoral;
}
.green {
  background-color: greenyellow;
}
.yellow {
  background-color: lightpink;
}
.navRoot {
  width: 100vw;
  height: 10vh;
  border-bottom: 0.5px solid grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 10%;
}
.navButton {
  width: 50%;
  margin-left: -10%;
}
.navButtonList {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navButtonListItem {
  text-transform: uppercase;
  color: #ad8b39;
}
.loginButtons {
  width: 17%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginText {
  text-transform: uppercase;
  color: #ad8b39;
}
.stayButton {
  text-transform: uppercase;
  border: none;
  background-color: #ad8b39;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
}
.mainContainer {
  background-image: url("./Taj-Hotels.jpg");
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.searchConatiner {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ad8b39;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatContainer {
  position: fixed;
  bottom: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ad8b39;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indiasPrideContainer {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}
.logoPride {
}
hr {
  rotate: 90deg;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.indiasPrideContainerheadingText {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 100;
}
.indiasPrideContainerP {
  text-align: center;
  font-weight: 100;
}
