* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.root {
  background-color: #ffce99;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputTextContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.input {
  border: 0px;
  border-radius: 8px;
  height: 22px;
  width: 30%;
  outline: none;
  padding: 5px;
  font-size: 0.8rem;
}
.addBtn {
  border: 0px;
  font-size: 0.8rem;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  margin-left: 10px;
  background-color: #ff9644;
}
.taskContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.task {
  margin: 10px;
  display: flex;
  padding: 15px;
  border-radius: 8px;
  background-color: #fffdf1;
  width: 30%;
  height: 25px;
  justify-content: space-evenly;
  align-items: center;
}

.deleteBtn {
  background-color: #562f00;
  color: white;
  padding: 2;
}
